[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/miniaudio"]
	path = libraries/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "libraries/cereal"]
	path = libraries/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libraries/tinyfiledialogs"]
	path = libraries/tinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs.git
